<link rel="stylesheet" href="~/css/index.css">


<div class="content">
    <div class="text-center">
        <h1>CUSTOM</h1>
        <h2>MYSTERY</h2>
        <h1>BOXES</h1>
        <h2>FOR</h2>
        <h1>BOOKS</h1>
        <a asp-controller="Store" asp-action="Store" class="btn">SHOP NOW!</a>
    </div>
    <div class="pictures">
        <img src="~/images/surprised.jpg"></img>
    </div>
</div>
