
<link rel="stylesheet" href="~/css/privacy.css">

<h1>ABOUT</h1>
<p>Projected created by <a href="https://github.com/DeyanPavlin"><span>Deyan Pavlin</span></a></p>
<p>The idea is to imitate a shooping site</p>

